<!DOCTYPE html>
<html>
<head>
  <title>Tectrap8</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <!--<nav class="navbar navbar-expand bg-light">
    <div class="float-left">#</div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="pages/home">Home </a>
        </li>
        <li>
          <input class="form-control mr-sm-2" type="search" placeholder="How can we help?" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>

        </li>
        <li class="nav-item active">
          <a <%= link_to 'New Post', new_post_path %></a>
        </li> 


      </div>

      <div class="float-right">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="pages/about">About </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="pages/contact">Contact </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="pages/techsupport">Help </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="pages/login">Login </a>
          </li>
        </ul>
      </div>
    </nav>-->

    <div class="container bg-primiary">

      <nav class="nav nav-pills nav-justified left-nav">
          
        <a class="nav-link" href="#Home"><%= image_tag("logos/tectraplogo.png") %></a>   
        <a class="nav-link  " href="#Home">Home</a>
      </nav>

      <ul class="nav justify-content-end right-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>

        <div style="clear: left; clear: right;"></div>

      <div class="row">
        <div class="col-12">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>        
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
  </html>
